# Common Database Config
DB_URL=jdbc:postgresql://postgres:5432/printforge_db
DB_USERNAME=postgres
DB_PASSWORD=admin

# Gateway & Security
JWT_SECRET=bXktc3VwZXItc2VjcmV0LWp3dC1rZXktZm9yLWxvY2FsLWRldi0xMjM0

# Service URLs (for API Gateway and cross-service calls)
AUTH_SERVICE_URL=http://auth-service:8083
PRINTER_SERVICE_URL=http://printer-service:8082
ORDER_SERVICE_URL=http://order-service:8084
MARKETPLACE_SERVICE_URL=http://marketplace-service:8085
PAYMENT_SERVICE_URL=http://payment-service:8086
NOTIFICATION_SERVICE_URL=http://notification-service:8087

# Cloudinary (Order & Marketplace)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Paystack (Payment Service)
PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key

# Admin Setup (Notification Service)
ADMIN_NAME=System Admin
ADMIN_EMAIL=admin@printforge.com
ADMIN_PASSWORD=secure_admin_password

# SMTP Email (Notification Service)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=no-reply@printforge.example
MAIL_FROM_NAME=PrintForge
